body {
  background: rgb(94, 240, 252);
  background: radial-gradient(
    circle,
    rgba(94, 240, 252, 1) 2%,
    rgba(157, 28, 189, 1) 100%
  );
}

.list-wrapper {
  display: grid;
  justify-content: center;
  margin-left: 500px;
  margin-right: 500px;

  .page-title {
    display: flex;
    justify-content: center;
    background: #121fcf;
    background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .image {
    display: flex;
    justify-content: center;
    height: 450px;
    width: auto;
  }

  .list-name {
    display: flex;
    justify-content: center;
    background: #121fcf;
    background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .list-description {
    height: 150px;
    font-size: 1.2em;
  }

  button {
    width: 200px;
    margin-left: 350px;
  }
}
